/* estilos del login */
.container {
    justify-content: center;
}


.btnSignUp{
    width: 100%;
    background: -webkit-linear-gradient(left,#116ebf 0%, #1291cc 100%);
}

#login form input {
    background: #C4C4C4;
    text-align: center;
}
#login form button {
    background: -webkit-linear-gradient(left,#116ebf 0%, #1291cc 100%);
    box-sizing: border-box;
    color: #ffffff;
}
#login form button:hover {
    opacity: 0.6;
    transition: 0.4s;
}

#login{
    display: none;
}

.img-responsive{

  margin: 0 auto;
  display: flex;
 
}




/* pagina principal */

.imagecoverpage{
    width: 100%;
}

#navbar{
    background-color: #0082d8;
   
}

#linkEmprendedor{
    color: white;
}

#logotype{
    margin: 1rem;
    margin-bottom: 1rem;
}

.map{
    width: auto;
    margin-top: 1rem;
    
}

#shopping-bag{
    width: 60px;
    height: 60px;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
   
}

/*#viewStore{
    display:none;
}*/


#search{
    text-align: center;
 }
 
 .btn-outline-secondary {
     color: #74c75b;
     border-color: #74c75b;
 }
 
 #selectOption{
     margin-top: 1.2rem;
 }
 
 select#inputGroupSelect04.custom-select{
     width: 200px;
 }

 #moreProducts{
     font-size: 1.5rem;
     font-family: sans-serif;
     color: #0082d8;
     text-align: center;
 }


input.form-control.form-control-sm.mr-3.w-75{
    width: 4rem;
    margin: 1rem;
}

/* productos y servicios */
.post-icon{
    border: none;
    background: transparent;
    cursor: pointer;
}
.section-profile{
    background-color:#e5e5e5;
}

.colReview{
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.08)!important;
    border-radius: 10px;
}

.img-product{
    width: 100px;
}
/* termino de productos y servicios */

#search{
    float:right
}

select.browser-default.custom-select{
    width: 20rem;
    margin: 1rem;
}

i.fas.fa-search{
     color: #0082d8;
     
}
 

.carousel-item{
    display: flex;
    position: relative;
}

.textTitle, .controls-top{
    text-align: center;
}

#more{
    display: flex;
    
}

.moreproduct{
    position: relative;
    text-align: center;
    left: 40%;
    top: 40px;
}


.textmore{
    position: relative;
    top: 50px;
    left: 40%;
}
/*Escondiendo home para trabajar en viewStore*/
/*#home{
    display: none;
}*/

/* vitrina */


/* perfil */
.section-profile{
    background-color:#e5e5e5;
}
.imgProfile{
    width: 100px;
    border-radius: 50%!important;
    margin-top: 10px;
}

.styleCard{
    border:none!important;
    background-color:#e5e5e5!important;
}

.colReview{
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.08)!important;
    border-radius: 10px;
}

#profile{
    display: none;

}

/* footer */

 /* timeline */

 .timeline{
     display: none;
 }

img.card-img-top{
    height: 100%;
    max-height: 200px;
}
