/* estilos del login */
.container {
    display: grid;
    justify-content: center;
}
img.img-responsive {
    margin: auto
}

.btnSignUp{
    width: 100%;
    background: -webkit-linear-gradient(left,#116ebf 0%, #1291cc 100%);
}

#login form input {
    background: #C4C4C4;
    text-align: center;
}
#login form button {
    background: -webkit-linear-gradient(left,#116ebf 0%, #1291cc 100%);
    box-sizing: border-box;
    color: #ffffff;
}
#login form button:hover {
    opacity: 0.6;
    transition: 0.4s;
}



/* pagina principal/vitrina */

#navbar{
    background-color: #0082d8;
   
}

#linkEmprendedor{
    color: white;
}

#logotype{
    margin: 1rem;
    margin-bottom: 1rem;
}

.map{
    width: auto;
    margin-top: 1rem;
    
}

#shopping-bag{
    width: 40px;
    height: 40px;
    justify-content: center;
    margin: 0 auto;
   
}

img.card-img-top{
    height: 100%;
    max-height: 250px;
}
div.card mb-2{
    height: 100%;
    max-height: 600px;
}

/* perfil */
.section-profile{
    background-color:#e5e5e5;
}
.imgProfile{
    width: 100px;
    border-radius: 50%!important;
    margin-top: 10px;
}

.styleCard{
    border:none!important;
    background-color:#e5e5e5!important;
}

.colReview{
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.08)!important;
    border-radius: 10px;

}

/* footer */

